# Projet 2 : Analysez des données de systèmes éducatifs #

### Import du nécessaire ###

In [29]:
import numpy as np
import pandas as pd
from annexe import annexe as an

## 1. Ouverture et affichage grossier du contenu des fichiers du dataset ##

In [30]:
for numFichier in range(len(an.fichiers)):
    print("Fichier numéro ",numFichier + 1," :")
    dataFrame = an.ouvre_csv(numFichier)
    an.print_samples(dataFrame,10)
    print("\n\n\n\n\n")

Fichier numéro  1  :
EdStatsCountry.csv  is open
    Country Code           Short Name           Table Name  \
103          ISR               Israel               Israel
188          SAU         Saudi Arabia         Saudi Arabia
133          MAC     Macao SAR, China     Macao SAR, China
149          MNE           Montenegro           Montenegro
139          MDV             Maldives             Maldives
126          LKA            Sri Lanka            Sri Lanka
156          MYS             Malaysia             Malaysia
10           ATG  Antigua and Barbuda  Antigua and Barbuda
0            ABW                Aruba                Aruba
61           ECU              Ecuador              Ecuador

                                             Long Name 2-alpha code  \
103                                    State of Israel           IL
188                            Kingdom of Saudi Arabia           SA
133  Macao Special Administrative Region of the Peo...           MO
149                                         Montenegro           ME
139                               Republic of Maldives           MV
126         Democratic Socialist Republic of Sri Lanka           LK
156                                           Malaysia           MY
10                                 Antigua and Barbuda           AG
0                                                Aruba           AW
61                                 Republic of Ecuador           EC

             Currency Unit                                      Special Notes  \
103     Israeli new shekel                                                NaN
188    Saudi Arabian riyal                                                NaN
133           Macao pataca  On 20 December 1999 China resumed its exercise...
149                   Euro  Montenegro declared independence from Serbia a...
139      Maldivian rufiyaa  April 2012 database update: The Department of ...
126       Sri Lankan rupee                                                NaN
156      Malaysian ringgit  Based on official government statistics, value...
10   East Caribbean dollar  April 2012 database update: Based on official ...
0            Aruban florin  SNA data for 2000-2011 are updated from offici...
61             U.S. dollar  National accounts have been revised from 1965 ...

                         Region          Income Group WB-2 code  ...  \
103  Middle East & North Africa     High income: OECD        IL  ...
188  Middle East & North Africa  High income: nonOECD        SA  ...
133         East Asia & Pacific  High income: nonOECD        MO  ...
149       Europe & Central Asia   Upper middle income        ME  ...
139                  South Asia   Upper middle income        MV  ...
126                  South Asia   Lower middle income        LK  ...
156         East Asia & Pacific   Upper middle income        MY  ...
10    Latin America & Caribbean  High income: nonOECD        AG  ...
0     Latin America & Caribbean  High income: nonOECD        AW  ...
61    Latin America & Caribbean   Upper middle income        EC  ...

       Government Accounting concept  \
103  Consolidated central government
188                              NaN
133  Consolidated central government
149                              NaN
139  Consolidated central government
126     Budgetary central government
156     Budgetary central government
10      Budgetary central government
0                                NaN
61      Budgetary central government

                IMF data dissemination standard Latest population census  \
103  Special Data Dissemination Standard (SDDS)                     2009
188    General Data Dissemination System (GDDS)                     2010
133    General Data Dissemination System (GDDS)                     2011
149    General Data Dissemination System (GDDS)                     2011
139    General Data Dissemination System (GDDS)                     2006
126    General Data Dissemination System (GDDS)                     2012
156  Special Data Dissemination Standard (SDDS)                     2010
10     General Data Dissemination System (GDDS)                     2011
0                                           NaN                     2010
61   Special Data Dissemination Standard (SDDS)                     2010

                               Latest household survey  \
103                                                NaN
188                           Demographic survey, 2007
133                                                NaN
149  Multiple Indicator Cluster Survey (MICS), 2005/06
139          Demographic and Health Survey (DHS), 2009
126       Demographic and Health Survey (DHS), 2006/07
156                    World Health Survey (WHS), 2003
10                                                 NaN
0                                                  NaN
61              Reproductive Health Survey (RHS), 2004

    Source of most recent Income and expenditure data  \
103    Expenditure survey/budget survey (ES/BS), 2001
188                                               NaN
133                                               NaN
149    Expenditure survey/budget survey (ES/BS), 2011
139           Integrated household survey (IHS), 2010
126    Expenditure survey/budget survey (ES/BS), 2010
156    Expenditure survey/budget survey (ES/BS), 2012
10                                                NaN
0                                                 NaN
61            Integrated household survey (IHS), 2012

    Vital registration complete Latest agricultural census  \
103                         Yes                        NaN
188                         NaN                       2010
133                         Yes                        NaN
149                         Yes                       2010
139                         Yes                        NaN
126                         Yes                 2013/ 2014
156                         Yes                       2015
10                          Yes                       2007
0                           Yes                        NaN
61                          NaN                    2013/15

    Latest industrial data Latest trade data Latest water withdrawal data
103                 2009.0            2012.0                         2004
188                 2006.0            2011.0                         2006
133                 2010.0            2012.0                          NaN
149                    NaN            2012.0                         2010
139                    NaN            2012.0                         2008
126                 2010.0            2012.0                         2005
156                 2010.0            2012.0                         2005
10                     NaN            2012.0                         2005
0                      NaN            2012.0                          NaN
61                  2008.0            2012.0                         2005

[10 rows x 31 columns]






Fichier numéro  2  :
EdStatsCountry-Series.csv  is open
    CountryCode         SeriesCode  \
273         KNA        SP.POP.TOTL
502         SVK        SP.POP.TOTL
326         MCO        SP.POP.GROW
542         TLS  NY.GDP.MKTP.PP.KD
515         SYR  NY.GNP.MKTP.PP.CD
509         SWZ        SP.POP.TOTL
103         COD        SP.POP.TOTL
57          BHS        SP.POP.GROW
365         MNG        SP.POP.GROW
507         SWE        SP.POP.GROW

                                           DESCRIPTION
273  Data sources : United Nations World Population...
502                            Data sources : Eurostat
326  Data sources: United Nations World Population ...
542                 Estimates are based on regression.
515                 Estimates are based on regression.
509  Data sources : United Nations World Population...
103  Data sources : United Nations World Population...
57   Data sources: United Nations World Population ...
365  Data sources: United Nations World Population ...
507                            Data sources : Eurostat






Fichier numéro  3  :

EdStatsData.csv  is open
                                         Country Name Country Code  \
710109                                     Seychelles          SYC
43395    Least developed countries: UN classification          LDC
56609                      Middle East & North Africa          MEA
18871   Europe & Central Asia (excluding high income)          ECA
206404                                        Burundi          BDI
286746                                        Denmark          DNK
869797                          Virgin Islands (U.S.)          VIR
373637                                      Greenland          GRL
152083                                       Barbados          BRB
134756                                        Austria          AUT

                                           Indicator Name  \
710109  SABER: (School Finance) Policy Goal 4 Lever 2:...
43395   TIMSS: Mean performance on the mathematics sca...
56609   MICS: Typology of out-of-school children. Prim...
18871   DHS: Average years of schooling by age group. ...
206404  Enrolment in lower secondary education, public...
286746  EGRA: Listening Comprehension - Share of stude...
869797  Enrolment in secondary education, female (number)
373637  Wittgenstein Projection: Percentage of the pop...
152083  PASEC: Mean performance on the language scale ...
134756  SABER: (Teachers) Policy Goal 6: Monitoring te...

                   Indicator Code  1970    1971    1972    1973    1974  \
710109  SABER.SCH.FNNC.GOAL4.LVL2   NaN     NaN     NaN     NaN     NaN
43395            LO.TIMSS.MAT4.MA   NaN     NaN     NaN     NaN     NaN
56609            HH.MICS.OOST.X.M   NaN     NaN     NaN     NaN     NaN
18871          HH.DHS.YRS.1519.Q5   NaN     NaN     NaN     NaN     NaN
206404               UIS.E.2.PU.F   NaN     NaN     NaN     NaN     NaN
286746    LO.EGRA.LSTN.0.ENG.2GRD   NaN     NaN     NaN     NaN     NaN
869797             SE.SEC.ENRL.FE   NaN  3250.0  3550.0  4673.0  4698.0
373637          PRJ.ATT.2064.1.MA   NaN     NaN     NaN     NaN     NaN
152083          LO.PASEC.REA.2.FE   NaN     NaN     NaN     NaN     NaN
134756           SABER.TECH.GOAL6   NaN     NaN     NaN     NaN     NaN

          1975  ...  2055  2060  2065  2070  2075  2080  2085  2090  2095  \
710109     NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
43395      NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
56609      NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18871      NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
206404     NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
286746     NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
869797  4607.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
373637     NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
152083     NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
134756     NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

        2100
710109   NaN
43395    NaN
56609    NaN
18871    NaN
206404   NaN
286746   NaN
869797   NaN
373637   NaN
152083   NaN
134756   NaN

[10 rows x 69 columns]






Fichier numéro  4  :
EdStatsFootNote.csv  is open
       CountryCode            SeriesCode    Year  \
64116          BLZ  UIS.XUNIT.US.4.FSGOV  YR1999
128674         CYP     SE.SEC.PROG.FE.ZS  YR1982
30001          AZE     SE.ENR.TERT.FM.ZS  YR2012
97985          CIV           SE.PRE.ENRL  YR1999
628263         VUT  SE.ADT.1524.LT.FM.ZS  YR2004
202628         GBR   UIS.EA.UK.AG25T99.F  YR2010
356610         LMY         UIS.GER.1T6.F  YR2014
116294         CRI        SE.PRE.ENRR.FE  YR2001
191628         FIN           SE.TER.TCHR  YR2002
439957         NAC  SE.ADT.1524.LT.FM.ZS  YR2001

                                           DESCRIPTION
64116   UNESCO Institute for Statistics (UIS) estimate
128674                                    Country Data
30001                              National Estimation
97985                              Country estimation.
628263                                  UIS Estimation
202628                     Magnitude nil or negligible
356610  UNESCO Institute for Statistics (UIS) estimate
116294                                       Estimated
191628                                       Estimated
439957                    Reference Period: 1995-2004.






Fichier numéro  5  :
EdStatsSeries.csv  is open
                  Series Code               Topic  \
2758        UIS.DR.2.GPV.G5.T           Secondary
1730        PRJ.ATT.2024.3.MF          Attainment
320   BAR.TER.ICMP.5559.FE.ZS          Attainment
3494          UIS.SLE.1t6.GPI            Tertiary
549          HH.MICS.OOST.L.U  Education Equality
1242        LO.PASEC.REA.2.P1   Learning Outcomes
3290               UIS.QUTP.3            Teachers
2154         SABER.TECH.GOAL2    Teachers (SABER)
840    LO.EGRA.NCWPM.HAR.3GRD   Learning Outcomes
207      BAR.SEC.CMPT.7074.ZS          Attainment

                                         Indicator Name  \
2758  Drop-out rate from Grade 5 of lower secondary ...
1730  Projection: Percentage of the population age 2...
320   Barro-Lee: Percentage of female population age...
3494  School life expectancy, primary to tertiary, g...
549   MICS: Typology of out-of-school children. Prim...
1242  PASEC: Distribution of 2nd grade language scor...
3290  Percentage of teachers in upper secondary educ...
2154  SABER: (Teachers) Policy Goal 2: Attracting th...
840   EGRA: Correct Non-Words Read Per Minute (Mean)...
207   Barro-Lee: Percentage of population age 70-74 ...

                                       Short definition  \
2758                                                NaN
1730                                                NaN
320   Percentage of female population age 55-59 with...
3494                                                NaN
549   Typology of out-of-school children. Primary. L...
1242  The 1st percentile score is the score below wh...
3290                                                NaN
2154  Data Interpretation: 1=Latent; 2=Emerging; 3=E...
840   Average total number of invented/nonsense word...
207   Percentage of population age 70-74 with second...

                                        Long definition Periodicity  \
2758  Proportion of pupils from a cohort enrolled in...         NaN
1730  Share of the population of the stated age grou...         NaN
320   Percentage of female population age 55-59 with...         NaN
3494  Ratio of female school life expectancy to the ...         NaN
549   Typology of out-of-school children. Primary. L...         NaN
1242  The 1st percentile score is the score below wh...         NaN
3290  Number of teachers in a given level of educati...         NaN
2154  Data Interpretation: 1=Latent; 2=Emerging; 3=E...         NaN
840   Average total number of invented/nonsense word...         NaN
207   Percentage of population age 70-74 with second...         NaN

                     Base Period Other notes Aggregation method  \
2758                         NaN         NaN                NaN
1730  Projections (2010 to 2100)         NaN                NaN
320                          NaN         NaN                NaN
3494                         NaN         NaN                NaN
549                          NaN         NaN                NaN
1242                         NaN         NaN                NaN
3290                         NaN         NaN                NaN
2154                         NaN         NaN                NaN
840                          NaN        EGRA                NaN
207                          NaN         NaN                NaN

     Limitations and exceptions General comments  \
2758                        NaN              NaN
1730                        NaN              NaN
320                         NaN              NaN
3494                        NaN              NaN
549                         NaN              NaN
1242                        NaN              NaN
3290                        NaN              NaN
2154                        NaN              NaN
840                         NaN              NaN
207                         NaN              NaN

                                                 Source  \
2758                    UNESCO Institute for Statistics
1730  Wittgenstein Centre for Demography and Global ...
320   Robert J. Barro and Jong-Wha Lee: http://www.b...
3494                    UNESCO Institute for Statistics
549   World Bank staff calculations based on Multipl...
1242  Programme d'Analyse des Systèmes Educatifs de ...
3290                    UNESCO Institute for Statistics
2154  Systems Approach for Better Education Results ...
840   Early Grade Reading Assessment (EGRA): https:/...
207   Robert J. Barro and Jong-Wha Lee: http://www.b...

     Statistical concept and methodology Development relevance  \
2758                                 NaN                   NaN
1730                                 NaN                   NaN
320                                  NaN                   NaN
3494                                 NaN                   NaN
549                                  NaN                   NaN
1242                                 NaN                   NaN
3290                                 NaN                   NaN
2154                                 NaN                   NaN
840                                  NaN                   NaN
207                                  NaN                   NaN

                      Related source links
2758                                   NaN
1730                                   NaN
320                                    NaN
3494                                   NaN
549                                    NaN
1242                                   NaN
3290                                   NaN
2154  http://saber.worldbank.org/index.cfm
840                                    NaN
207                                    NaN

#### Rapide analyse des 5 fichiers
**1. EdstatCountry.csv**  
On peut voir qu'il y a dans le premier fichier **31 colonnes de 241 lignes**.  
Dans les colonnes nous trouvons:
 - des identifiants : Country Code,Short Name,Table Name,Long Name,2-alpha code,WB-2 code
 - des categories : Lending category, Currency Unit, Income Group, Government Accounting concept, IMF data dissemination standard
 - des données géographiques : Region
 - des rescencements : National accounts base year, National accounts reference year, SNA price valuation, PPP survey year, Latest population census, Latest household survey, Latest agricultural census, Latest industrial data, Latest trade data, Latest water withdrawal data
 - d'autres données : Special Notes, Other groups,System of National Accounts,Alternative conversion factor,Balance of Payments Manual in use,External debt Reporting status, System of trade, Source of most recent Income and expenditure data, Vital registration complete 

Ce fichier semble être une source de données générals sur chaque pays.
 
 
**2. EdStatsCountry-Series.csv**  
On peut voir qu'il y a dans le deuxième fichier **3 colonnes de 613 lignes**.  
Dans les colonnes nous trouvons:
 - des identifiants : CountryCode, SeriesCode.
 - une description : DESCRIPTION.

Ce fichier donne la source des données pour une série à un pays donné.


**3. EdStatsData.csv**  
On peut voir qu'il y a dans le troisième fichier EdStatsData.csv **69 colonnes de 886930 lignes**.  
Dans les colonnes nous trouvons:
 - des identifiants : Country Name, Country Code, Indicator Name, Indicator Code.
 - des années : de 1970 à 2017, puis de 2020 à 2100 par pas de 5 ans.

Ce fichier donne les nombres pour chaque année de chaque série.


**4. EdStatsFootNote.csv**  
On peut voir qu'il y a dans le quatrième fichier **4 colonnes de 643638 lignes**.  
Dans les colonnes nous trouvons:
 - des identifiants : CountryCode, SeriesCode.
 - une donnée temporelle : Year.
 - une description : DESCRIPTION.

Ce fichier donne la provenance des données quantitative pour une série, un pays à une année donné.


**5. EdStatsSeries.csv**
On peut voir qu'il y a dans le cinquième et dernier fichier **15 colonnes de 3665 lignes**.  
Dans les colonnes nous trouvons:
 - des identifiants : Series Code.
 - des descriptions : Indicator Name, Topic, Short definition, Long definition.
 - des données temporelles : Periodicity, Base Period.
 - d'autres données : Other notes, Aggregation method, Limitations and exceptions, General comments, Source, Statistical concept and methodology, Development relevance, Related source links.

Ce fichier semble être une source de données descriptives de chaque série .


Après avoir regardé tout les fichiers il me parait pas utile de continuer l'exploration dans les fichiers EdStatsCountry-Series.csv et EdStatsFootNote.csv. Le fichier EdstatCountry.csv ne me parait pas utile pour une première analyse comparative.
Je vais donc continuer avec les fichiers EdStatsData.csv pour les données chiffrées et avec EdStatsSeries.csv pour la compréhension des données dans EdStatsData.csv.

## 2. Création d'un dataframe exclusivement chiffré

Un dataframe exclusivement chiffré va me permettre grâce à la librairie pandas de faire des opérations plus efficace. Je vais donc prendre le fichier qui nous intéresse ( EdStatsData.csv), mettre en index une colonne à identifiant unique (Indicator Code sera testé) et enlever les colonnes contenant des données autre que numériques.

In [31]:
fichier3 = an.ouvre_csv(2)
an.print_info_col(fichier3,["Indicator Code"])

EdStatsData.csv  is open

Indicator Code
3665 n uniques
0 somme des non nul dans la colonne

La calonne Indicator Code n'est pas unique, je vais donc prendre comme identifiant la colonne Indicator Code et la colonne Country Name.

fichier3 = an.ouvre_csv(2 ,nom_colonne = ["Indicator Code","Country Name"])

In [44]:
fichier3 = an.ouvre_csv(2)
# fichier3 = an.ouvre_csv(2,nom_colonne = "Indicator Code")
fichier3['id'] = fichier3['Indicator Code'] + '_' + fichier3['Country Name']
fichier3 = fichier3.set_index('id')
fichier3JustNb = fichier3.drop(columns = ["Country Code","Indicator Name","Indicator Code","Country Name"])

EdStatsData.csv  is open

In [45]:
fichier3JustNb.sample(10)

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
id,,,,,,,,,,,,,,,,,,,,,
LO.EGRA.CLPM.HAR.3GRD_Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SABER.SCH.ATNM.GOAL1_Arab World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UIS.SLE.23.M_Maldives,0.17623,0.15498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PRJ.ATT.2529.3.FE_Europe & Central Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HH.DHS.PCR.M_West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SABER.EMIS.GOAL3_Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UIS.AFR.GTC.1T3.T_Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SE.SEC.CMPT.LO.ZS_Kiribati,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.70786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BAR.NOED.2529.ZS_Low & middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LO.PISA.MAT.P05_Latin America & Caribbean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Notre dataframe a maintenant un identifiant unique (les colonnes Country Name et Indicator Code) et ne contient que des nombres ou des valeurs non assigné.

## 3. Epuration pas à pas du dataframe

On va enlever les colonnes qui paraissent trop loin dans le temps que se soit dans le passé ou dans le futur. Puis on explorera le fichier pour voir si il y a des lignes vide et dans ce cas les enlever. On va chercher si il y a des differents ordre de grandeur de valeur dans le dataframe. On pourra aussi rechercher des pourcentage pour plus tard afficher des statistiques.

### 1. Enlever les colonnes inutile pour l'analyse

In [46]:
fichier3JustNb = fichier3JustNb.drop(['1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2035','2040','2045','2050','2055','2060','2065','2070','2075','2080','2085','2090','2095','2100'], axis = 1)
fichier3JustNb.shape

(886930, 20)

Il ne reste plus que 20 colonnes sur les 65 dates du début.

### 2. Enlever les lignes vides

Je vais voir si j'arrive a afficher des lignes vides en faisant la somme cumulé des valeur naN pour chaque ligne.

In [54]:
tabIsnaCumsum = fichier3JustNb.isna().cumsum(axis=1)
an.print_samples(tabIsnaCumsum,10)

                                                    2001  2002  2003  2004  \
id
SABER.SCH.FNNC.GOAL4.LVL2_Seychelles                   1     2     3     4
LO.TIMSS.MAT4.MA_Least developed countries: UN ...     1     2     3     4
HH.MICS.OOST.X.M_Middle East & North Africa            1     2     3     4
HH.DHS.YRS.1519.Q5_Europe & Central Asia (exclu...     1     2     3     4
UIS.E.2.PU.F_Burundi                                   1     2     2     2
LO.EGRA.LSTN.0.ENG.2GRD_Denmark                        1     2     3     4
SE.SEC.ENRL.FE_Virgin Islands (U.S.)                   1     2     3     4
PRJ.ATT.2064.1.MA_Greenland                            1     2     3     4
LO.PASEC.REA.2.FE_Barbados                             1     2     3     4
SABER.TECH.GOAL6_Austria                               1     2     3     4

                                                    2005  2006  2007  2008  \
id
SABER.SCH.FNNC.GOAL4.LVL2_Seychelles                   5     6     7     8
LO.TIMSS.MAT4.MA_Least developed countries: UN ...     5     6     7     8
HH.MICS.OOST.X.M_Middle East & North Africa            5     6     7     8
HH.DHS.YRS.1519.Q5_Europe & Central Asia (exclu...     5     6     7     8
UIS.E.2.PU.F_Burundi                                   2     2     3     4
LO.EGRA.LSTN.0.ENG.2GRD_Denmark                        5     6     7     8
SE.SEC.ENRL.FE_Virgin Islands (U.S.)                   5     6     7     8
PRJ.ATT.2064.1.MA_Greenland                            5     6     7     8
LO.PASEC.REA.2.FE_Barbados                             5     6     7     8
SABER.TECH.GOAL6_Austria                               5     6     7     8

                                                    2009  2010  2011  2012  \
id
SABER.SCH.FNNC.GOAL4.LVL2_Seychelles                   9    10    11    12
LO.TIMSS.MAT4.MA_Least developed countries: UN ...     9    10    11    12
HH.MICS.OOST.X.M_Middle East & North Africa            9    10    11    12
HH.DHS.YRS.1519.Q5_Europe & Central Asia (exclu...     9    10    11    12
UIS.E.2.PU.F_Burundi                                   4     4     4     4
LO.EGRA.LSTN.0.ENG.2GRD_Denmark                        9    10    11    12
SE.SEC.ENRL.FE_Virgin Islands (U.S.)                   9    10    11    12
PRJ.ATT.2064.1.MA_Greenland                            9    10    11    12
LO.PASEC.REA.2.FE_Barbados                             9    10    11    12
SABER.TECH.GOAL6_Austria                               9    10    11    12

                                                    2013  2014  2015  2016  \
id
SABER.SCH.FNNC.GOAL4.LVL2_Seychelles                  13    14    15    16
LO.TIMSS.MAT4.MA_Least developed countries: UN ...    13    14    15    16
HH.MICS.OOST.X.M_Middle East & North Africa           13    14    15    16
HH.DHS.YRS.1519.Q5_Europe & Central Asia (exclu...    13    14    15    16
UIS.E.2.PU.F_Burundi                                   4     4     5     6
LO.EGRA.LSTN.0.ENG.2GRD_Denmark                       13    14    15    16
SE.SEC.ENRL.FE_Virgin Islands (U.S.)                  13    14    15    16
PRJ.ATT.2064.1.MA_Greenland                           13    14    15    16
LO.PASEC.REA.2.FE_Barbados                            13    14    15    16
SABER.TECH.GOAL6_Austria                              13    14    15    16

                                                    2017  2020  2025  2030
id
SABER.SCH.FNNC.GOAL4.LVL2_Seychelles                  17    18    19    20
LO.TIMSS.MAT4.MA_Least developed countries: UN ...    17    18    19    20
HH.MICS.OOST.X.M_Middle East & North Africa           17    18    19    20
HH.DHS.YRS.1519.Q5_Europe & Central Asia (exclu...    17    18    19    20
UIS.E.2.PU.F_Burundi                                   7     8     9    10
LO.EGRA.LSTN.0.ENG.2GRD_Denmark                       17    18    19    20
SE.SEC.ENRL.FE_Virgin Islands (U.S.)                  17    18    19    20
PRJ.ATT.2064.1.MA_Greenland                           17    18    19    20
LO.PASEC.REA.2.FE_Barbados                            17    18    19    20
SABER.TECH.GOAL6_Austria                              17    18    19    20

Nous avons 20 colonnes, donc quand on voit le nombre 20 dans la dernière colonnes (2030) c'est que la ligne est vide, on peut donc la supprimer.

In [52]:
fichier3JustNb2 = fichier3JustNb.dropna(axis = 'index',how = 'all')
fichier3JustNb2.shape

(347465, 20)

Sur nos 886930 lignes du départ, il ne reste plus que 347465 lignes, ce qui nous a bien allégé le dataframe.

In [75]:
# tabIsnaCumsum2 = fichier3JustNb2.isna().cumsum(axis=1)
# an.print_samples(tabIsnaCumsum2,10)

## 3. Exploration des ordres de grandeur du fichier

Je vais afficher le min,le max et l'écart type que je trouve dans chaque colonnes.

In [56]:
print("min")
print(fichier3JustNb2.min())
print("max")
print(fichier3JustNb2.max())
print("ecart-type")
print(fichier3JustNb2.std())

min
2001    -69737.000000
2002    -92143.000000
2003   -111186.000000
2004   -126260.000000
2005   -134724.000000
2006   -370894.000000
2007   -388217.000000
2008   -408854.000000
2009   -456124.000000
2010   -496905.000000
2011   -570994.000000
2012   -604993.000000
2013   -615748.000000
2014       -89.000000
2015        -2.467847
2016        -1.797539
2017         1.000000
2020        -1.870000
2025        -2.000000
2030        -2.110000
dtype: float64
max
2001    6.477834e+13
2002    6.654753e+13
2003    6.906328e+13
2004    7.278829e+13
2005    7.624045e+13
2006    8.031840e+13
2007    8.469145e+13
2008    8.711022e+13
2009    8.677516e+13
2010    9.134676e+13
2011    9.506314e+13
2012    9.999473e+13
2013    1.054580e+14
2014    1.108060e+14
2015    1.156198e+14
2016    1.206030e+14
2017    4.000000e+00
2020    1.599479e+06
2025    1.781898e+06
2030    1.967258e+06
dtype: float64
ecart-type
2001    5.449242e+11
2002    5.622886e+11
2003    5.803607e+11
2004    6.278337e+11
2005    5.576181e+11
2006    6.851484e+11
2007    7.465688e+11
2008    7.944132e+11
2009    7.623650e+11
2010    6.218710e+11
2011    8.555853e+11
2012    8.833955e+11
2013    9.513016e+11
2014    1.023180e+12
2015    9.732465e+11
2016    2.839188e+12
2017    8.105845e-01
2020    1.475072e+04
2025    1.577305e+04
2030    1.678556e+04
dtype: float64

Les max sont énorme, les min sont extrèmement négatif et l'écart type très grand. Il y a donc des données qui n'ont pas le même ordre de grandeur et ne sont pas comparables.  
Je vais donc les séparer.

In [89]:
# fichier3JustNb2.iloc[fichier3JustNb2[:] > 10000].samples(10)
print(fichier3JustNb2.ge(1).sample(10))
# fichier3pow10plus = fichier3JustNb2[fichier3JustNb2[:] > 999999999 ]
# fichier3pow10plus.shape

                                         2001   2002   2003   2004   2005  \
id
BAR.PRM.CMPT.4549.ZS_Mauritania         False  False  False  False   True
BAR.TER.SCHL.2529_United Arab Emirates  False  False  False  False  False
UIS.E.0.PR.T_North America               True   True   True   True   True
PRJ.ATT.1519.4.FE_Spain                 False  False  False  False  False
BAR.TER.ICMP.1519.FE.ZS_Austria         False  False  False  False  False
UIS.E.23.PU.F_Niger                      True   True   True   True   True
SABER.WORK.GOAL2.LVL1_Ireland           False  False  False  False  False
SP.POP.1015.MA.UN_Kiribati               True   True   True   True   True
PRJ.MYS.15UP.GPI_Azerbaijan             False  False  False  False  False
PRJ.ATT.2024.1.FE_Mongolia              False  False  False  False  False

                                         2006   2007   2008   2009   2010  \
id
BAR.PRM.CMPT.4549.ZS_Mauritania         False  False  False  False   True
BAR.TER.SCHL.2529_United Arab Emirates  False  False  False  False  False
UIS.E.0.PR.T_North America               True   True   True   True   True
PRJ.ATT.1519.4.FE_Spain                 False  False  False  False  False
BAR.TER.ICMP.1519.FE.ZS_Austria         False  False  False  False  False
UIS.E.23.PU.F_Niger                      True   True  False   True   True
SABER.WORK.GOAL2.LVL1_Ireland           False  False  False  False  False
SP.POP.1015.MA.UN_Kiribati               True  False  False  False  False
PRJ.MYS.15UP.GPI_Azerbaijan             False  False  False  False  False
PRJ.ATT.2024.1.FE_Mongolia              False  False  False  False  False

                                         2011   2012   2013   2014   2015  \
id
BAR.PRM.CMPT.4549.ZS_Mauritania         False  False  False  False  False
BAR.TER.SCHL.2529_United Arab Emirates  False  False  False  False  False
UIS.E.0.PR.T_North America               True   True   True   True  False
PRJ.ATT.1519.4.FE_Spain                 False  False  False  False  False
BAR.TER.ICMP.1519.FE.ZS_Austria         False  False  False  False  False
UIS.E.23.PU.F_Niger                      True   True   True   True  False
SABER.WORK.GOAL2.LVL1_Ireland           False   True  False  False  False
SP.POP.1015.MA.UN_Kiribati              False  False  False  False  False
PRJ.MYS.15UP.GPI_Azerbaijan             False  False  False  False  False
PRJ.ATT.2024.1.FE_Mongolia              False  False  False  False  False

                                         2016   2017   2020   2025   2030
id
BAR.PRM.CMPT.4549.ZS_Mauritania         False  False  False  False  False
BAR.TER.SCHL.2529_United Arab Emirates  False  False  False  False  False
UIS.E.0.PR.T_North America              False  False  False  False  False
PRJ.ATT.1519.4.FE_Spain                 False  False  False  False  False
BAR.TER.ICMP.1519.FE.ZS_Austria         False  False  False  False  False
UIS.E.23.PU.F_Niger                     False  False  False  False  False
SABER.WORK.GOAL2.LVL1_Ireland           False  False  False  False  False
SP.POP.1015.MA.UN_Kiribati              False  False  False  False  False
PRJ.MYS.15UP.GPI_Azerbaijan             False  False  False  False  False
PRJ.ATT.2024.1.FE_Mongolia              False  False  False  False  False

In [87]:
df[ df.iloc[:,]>= 60 ]

NameError: name 'df' is not defined